@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MarckScript";
  src: url("/fonts/MarckScript-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
#__next {
  height: 100%;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
* {
  scroll-behavior: smooth !important;
}

@media only screen and (min-width: 640px) {
  
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1450px;
  }
}